@model Genre 
<div>
    <form asp-controller="Genre" asp-action="Create" method="post">
       @Html.AntiForgeryToken() 
        <div class="form-group mb-3">
            <label Inserisci il nome del genere</label>
            <input type="text" asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <button class="btn btn-primary">Crea</button>
    </form>
</div>