@model Feature
<div>
    <form asp-controller="Feature" asp-action="Create" method="post">
       @Html.AntiForgeryToken() 
        <div class="form-group">
            <label for="exampleInputEmail1">Inserisci il nome della feature</label>
            <input type="text" asp-for="Name" class="form-control" /> 
        </div>
    </form>
</div>